<nav class="nav-mobile">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
</nav>
<nav class="nav-descktop">
    <ul>
        <li>
            <button>1</button>
            <p>STEP 1 <span>YOUR INFO</span></p>
        </li>
        <li>
            <button>2</button>
            <p>STEP 2 <span>SELECT PLAN</span></p>
        </li>
        <li>
            <button>3</button>
            <p>STEP 3 <span>ADD-PNS</span></p>
        </li>
        <li>
            <button>4</button>
            <p>STEP 4 <span>SUMMARY</span></p>
        </li>
    </ul>
</nav>
