<nav class="nav-mobile">
    <button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">1</button>
    <button routerLink="select-plan" routerLinkActive="active">2</button>
    <button routerLink="pick-addons" routerLinkActive="active">3</button>
    <button routerLink="summary" routerLinkActive="active">4</button>
</nav>
<nav class="nav-descktop">
    <ul>
        <li  >
            <button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">1</button>
            <p>STEP 1 <span>YOUR INFO</span></p>
        </li>
        <li >
            <button routerLink="select-plan" routerLinkActive="active">2</button>
            <p>STEP 2 <span>SELECT PLAN</span></p>
        </li>
        <li>
            <button routerLink="pick-addons" routerLinkActive="active">3</button>
            <p>STEP 3 <span>ADD-PNS</span></p>
        </li>
        <li>
            <button routerLink="summary" routerLinkActive="active">4</button>
            <p>STEP 4 <span>SUMMARY</span></p>
        </li>
    </ul>
</nav>
