.nav-descktop {
    display: none;
}

.nav-mobile {
    width: 100vw;
    height: 172px;
    background-image: url('src/assets/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav-mobile button {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin:20px 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
}
.nav-mobile button.active {
    background: var(--Blanc);
    color: var(--Bleu-marine);
}

@media (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
    .nav-descktop {
        display: block;
        width: 274px;
        height: 568px;
        background-image:url("src/assets/bg-sidebar-desktop.svg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        margin: 15px 0 0 15px;
        
    }
    .nav-descktop ul {
        list-style: none;
        margin-top: 40px;
    }

    .nav-descktop ul li {
        display: flex;
        align-items: center;
    }
    .nav-descktop ul li button {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        margin:20px 10px;
        background: transparent;
        border: 1px solid white;
        color: white;
    }
    .nav-descktop ul li button.active {
        background: var(--Blanc);
        color: var(--Bleu-marine);
    }
    .nav-descktop ul li p {
        display: flex;
        flex-direction: column;
        color: var(--Gris-clair );
        font-size: 12px;
        font-weight: 400;
        margin-left: 10px;
        
    }

    .nav-descktop ul li p span {
       
        font-size: 14px;
        font-weight: 700;
        color: var(--Blanc);
        margin:5px 0
    }
    
}