footer {
    width: 100vw;
    height: 72px;
    background-color: var(--Albâtre);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer button {
    width: 97px;
    height: 40px;
    background-color: var(--Bleu-marine);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 18px;
    
}

@media (min-width: 768px) {
    footer {
        width: calc(940px - 300px);
        position: absolute;
        bottom: 100px;
        margin-left: 300px;
        background-color: var(--Blanc );

       
    }
    
}