<div class="container">
    <h2>Finishing up</h2>
    <p class="paraTitle">Double-check everything looks OK before confirming.</p>
    <div class="card">
        
        <div>
            <p>Arcade (Monthly) <a href="">Change</a></p>
            <p>$9/mo</p>
            
        </div>
    
   
       
        
        <div>
            <p>Online srvice</p>
            <p>$12/mo</p>
           
        </div>
        <div>
            <p>Larger storage</p>
            <p>$15/mo</p>
           
        </div>
    </div>
    <div class="cardTotal">
       <p>Total (per month)</p>
       <p>+$12/mo</p>
       
    </div>
   
  

   
</div>


