.container {
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:30px auto 0;
}

.container h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--Bleu-marine);
}
.container .paraTitle {
    font-size: 16px;
    color: var(--Gris-froid);
    margin: 5px 0;
}

.container .card {
    width: 295px;
    height: 77px;
    border: 1px solid var(--Gris-froid);
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}
.container .card.active {
    border: 1px solid var(--Bleu-marine);
    background: var( --Gris-clair);
}

.container .card label{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: var(--Bleu-marine);
   
}
.container .card label span{
    font-size: 12px;
    color: var(--Gris-froid);
   
}

.container .card input {
    margin: 0 15px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.footer {
   
    width: 343px;
     background-color: var(--Albâtre);
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     bottom: 0;
     
     
 }
 
 .footer button {
     width: 97px;
     height: 40px;
     background-color: var(--Bleu-marine);
     border-radius: 5px;
     border: none;
     color: white;
     font-family: 'Ubuntu', sans-serif;
     font-size: 14px;
     font-weight: 500;
     margin: 0 18px;
     
 }
 .footer .goback {
    color: var(--Gris-froid);
    background: transparent;
 }

@media (min-width: 768px) {
    .container {
        width: 450px;
        
    }
    .container .card {
        width: 450px;
        height: 81px;
        
    }
    .container .card p{
        margin-left: 130px;
    }
    .container .card .label3 {
        margin-right: 25px;
    }
    .footer {
        width: 450px;
        position: absolute;
        bottom: 90px;
             
               
     }
}