<div class="container">
    <h2>Pick add-ons</h2>
    <p class="paraTitle">Add-ons help enhance your gaming experience.</p>
    <div class="card">
       
        <input type="checkbox" id="scales" name="scales" checked>
        <label for="scales">Online service <span>Access to multiplayer games</span></label>
        <p>+$10/mo</p>
    </div>
    <div class="card">
        
        <input type="checkbox" id="scales" name="scales" checked>
        <label class="label3" for="scales">Larger storage <span>Extra 1TB of cloud save</span></label>
        <p>+$10/mo</p>
    </div>
    <div class="card">
        <div>
            
        </div>
        <input type="checkbox" id="scales" name="scales" >
        <label  for="scales">Customizable profile <span>Custom theme on your profile</span></label>
        <p>+$10/mo</p>
    </div>
   
  

   
</div>

