<div class="infoPerso">
    <div class="title">
        <h2>Personnal info</h2>
        <p>Please provide your name, email adress, and phone number</p>
    </div>
    
    <form >
        <div>
            <label for="name">Name :</label>
            <input type="text" id="name" placeholder="e.g. Stephen King">
        </div>
        <div>
            <label for="mail">Email Adress&nbsp;:</label>
            <input type="email" id="mail" placeholder="e.g. Stephenking@lorem.com">
        </div>
        <div>
            <label for="phone">Phone Number :</label>
            <input type="number" id="phone" placeholder="e.g. +330125645" >
        </div>
    </form>
</div>
